<!DOCTYPE html>
<html>
<head>
	<% include ../partials/head.ejs %>
</head>
<body>
	<div class="container center">
		<h1>Postal Rate Calculator</h1>
		
		<h4><%= type %> <%= weight %> <%= price %></h4>

	</div>
</body>
</html>