<!DOCTYPE html>
<html>
<head>
	<% include ../partials/head.ejs %>
</head>
<body>
	<div class="container">
		<div class="center-block">
			<h2>Postal Rate Calculator</h2>
			
			<h4><%= type %> <%= weight %> <%= price %></h4>

			<a href="home.html">
				<button type="button" value="back"> BACK <- </button>
			</a>

		</div>
	</div>
</body>
</html>